{% extends 'base.html' %}

{% load static %}

{% block content %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Image Name</th>
            <th>Caption</th>
            <th>Likes</th>
            <th>Comments</th>
            <th>Created</th>
        </tr>
    </thead>
    <tbody>
        {% for image in profileimages %}
        <tr>
            
            <td>{{image.image_name}}</td>
            <td>{{image.caption}}</td>
            <td>{{image.likes}}</td>
            <td>{{image.comments}}</td>
            <td>{{image.created_at}}</td>
        </tr>
        
    </tbody>
</table>

<div class="card" style="width: 18rem;">
    <p>Image</p>
    <img class="card-img-top" src="{{image.profileimages.url}}" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">{{image.caption}}</p>
    </div>
  </div>
  {% endfor %}
{% endblock %}