<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }} Welcome!
  <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}
<div class="container">
  {% for profile in profile %}
<div class="card">
  <div class="card-title">
    <h5>{{profile.firstName}}</h5>
  </div>

</div>
{% endfor %}
</div>








{% endblock %}
